@font-face {
    font-family: 'Shrikhand';
    src: url('../font/Shrikhand-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('../font/Roboto-Bold.ttf');
}

body {
	margin: 0px;
}
p {
	margin: 0px;
}
h1 {
	margin: 0px;
	font-family: 'Roboto-bold';
	font-size: 22px;
}
h2 {
	margin: 0px;
	font-family: 'Roboto-bold';
	font-size: 22px;
}
h3 {
	margin: 0px;
	font-family: 'Roboto';
	font-size: 20px;
}

.box-header {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	margin-bottom: 3px; 
}
.box-section {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.box-footer {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	background-color: #353535;
}

.header_content {
	width: 75%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 22px;
}

.arrow_back {
	font-size: x-large;
	color: black;
}

.logo {
	height: 85%;
}

.restaurant {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.img_restaurant {
	display: flex;
	width: 100%;
}
.picture_restaurant {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.restaurant_content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 3%;
	border-radius: 30px 30px 0px 0px;
	background-color: #f6f6f6;
	margin-top: -10%;
}

.restaurant_title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
}

.restaurant_font_title {
	font-family: 'Shrikhand';
}

.heart{
	position: absolute;
	left: 93%;
	top: 5%;
}

.heart:hover .icon_heart_color{
	transform: scale(1);
}

.heart:active .icon_heart_color{
	transform: scale(1);
}

.icon_heart {
	font-size: x-large;
	color: #5b5b5b;
	position: absolute;
}

.icon_heart_color {
	position: absolute;
	z-index: 1;
	font-size: x-large;
	background: linear-gradient(30deg, #FF79DA 20%, #9356DC);
	background-clip: text;
	-webkit-background-clip: text;
	color: rgba(0,0,0,.2);
	transform: scale(0);
	transition: transform 1000ms;
}

.restaurant_dishes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-top: 5%;
}

.menu {
	display: flex;
	overflow: hidden;
	align-items: center;
	height: 75px;
	width: 45%;
	border-radius: 15px;
	margin-bottom: 20px;
	animation: menu_appear 1.5s linear 0s 1;
}

@keyframes menu_appear{
	0%{
		
		opacity: 0;
	}
	67%{
		padding-top: 10px; 
		opacity: 0;
	}
	100%{
		padding-top: 0px; 
		opacity: 1;
	}
}

.menu_category {
	color: #5b5b5b;
	width: 100%;
}

.menu_decoration {
	content: "";
	background-color: #99e2d0;
	width: 50px;
	height: 5px;
	margin-top: 1%;
	margin-bottom: 3%;
	margin-right: 93%;
}

.menu_content {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: white;
	animation: border-return 1s linear 0s 1;
}

@keyframes border-return{
	0%{
		width: 80%;
	}
	100%{
		width: 100%;
	}
}

.menu_group_info {
	width: 80%;
}
.menu_price_block {
	width: 10%;
}

.menu_name {
	font-family: 'Roboto-bold';
	font-size: 16px;
	color: black;
	margin-bottom: 5%;
	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.menu_definition {
	font-family: 'Roboto';
	font-size: 16px;
	color: #5b5b5b;
	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.menu_price {
	font-family: 'Roboto-bold';
	font-size: 16px;
	color: black;
}

.menu_valid {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #99e2d0;
	width: 0%;
	height: 100%;
	animation: return 1s linear 0s 1;
}

@keyframes return{
	0%{
		width: 20%;
	}
	100%{
		width: 0%;
	}
}

.menu_valid_check {
	color: white;
	font-size: x-large;
}

.menu:hover .menu_content{
	width: 80%;
	animation: menu_definition_animation 1s linear 0s 1;
}

@keyframes menu_definition_animation{
	0%{
		width: 100%;
	}
	100%{
		width: 80%;
	}
}

.menu:hover .menu_valid {
	width: 20%;
	animation: menu_valid_animation 1s linear 0s 1;
}

@keyframes menu_valid_animation{
	0%{
		width: 0%;
	}
	100%{
		width: 20%;
	}
}

.menu:hover .menu_valid_check {
	animation: menu_check_animation 1s linear 0s 1;
}

@keyframes menu_check_animation{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.menu:active .menu_valid {
	width: 20%;
}

.menu:active .menu_content {
	width: 80%;
}

.order_block {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 5%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.order_button {
	font-family: 'Roboto';
	font-size: 18px;
	text-decoration: none;
	color: white;
	background: linear-gradient(170deg, #FF79DA, #9356DC);
	border-radius: 30px;
	box-shadow: 0px 1px 5px #999;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
}

.order_button:hover {
	background: linear-gradient(170deg, rgba(255,121,218,0.9), rgba(147,86,220,0.9));
	box-shadow: 0px 1px 5px #333;

}

.footer_style {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3%;
}

.footer_title {
	font-family: 'Shrikhand';
	color: white;
	font-size: 18px;
	margin-bottom: 10%;
}

.footer_link {
	text-decoration: none;
	color: white;
	font-family: 'Roboto';
	font-size: 16px;
	margin-bottom: 5%;
}