@font-face {
    font-family: 'Shrikhand';
    src: url('../font/Shrikhand-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('../font/Roboto-Bold.ttf');
}

body {
	margin: 0px;
}
p {
	margin: 0px;
}
h1 {
	margin: 0px;
	font-family: 'Roboto-bold';
	font-size: 22px;
}
h2 {
	margin: 0px;
	font-family: 'Roboto-bold';
	font-size: 22px;
}

.box-header {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	box-shadow: 0px 1px 4px gray;
	margin-bottom: 3px; 
}
.box-section {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
}

.box-footer {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	background-color: #353535;
}

.header_content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.logo {
	height: 85%;
}

.spin-loader {
  	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
  	height: 100%;
  	background-color: rgba(255,255,255,0.9);
  	animation: display-spiner 3s linear 0s 1;
  	visibility: hidden;
}

@keyframes display-spiner{
	0%{visibility: visible; z-index: 2;}
	99%{visibility: visible; z-index: 2;}
	100%{visibility: hidden;}
}

.loader {
	position: relative;
	width: 30px;
	height: 30px;
}

.spin-loader-rotate {
	border-radius: 30px;
	border: 6px solid rgba(0,0,0,0.4);
}

.spin-loader-rotate:after {
	content: '';
	position: absolute;
	top: -6px;
	left: -6px;
	right: -6px;
	bottom: -6px;
	border-radius: 30px;
	border: 6px solid transparent;
	border-top-color: #000;
	animation: spiner 1s linear 0s 3;

}

@keyframes spiner{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

.text-loader {
	font-size: 30px;
}

.location {
	width: 100%;
	font-family: 'Roboto-bold';
	color: #353535;
	background-color: #EAEAEA;
	display: flex;
	justify-content: center;
	padding-top: 3%;
	padding-bottom: 3%;
}

.location_content {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 20px;
}

.location_name {
	padding-left: 3%;
}

.discovery {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F6F6F6;
	padding-top: 5%;
	padding-bottom: 5%;
}

.discovery_title {
	text-align: center;
	margin-bottom: 4%;
}

.discovery_information {
	font-family: 'Roboto';
	font-size: 18px;
	text-align: center;
	margin-bottom: 4%;
}

.discovery_button {
	font-family: 'Roboto';
	font-size: 16px;
	text-decoration: none;
	color: white;
	background: linear-gradient(170deg, #FF79DA, #9356DC);
	border-radius: 30px;
	box-shadow: 0px 1px 5px #999;
	padding: 2%;
}

.discovery_button:hover {
	background: linear-gradient(170deg, rgba(255,121,218,0.9), rgba(147,86,220,0.9));
	box-shadow: 0px 1px 5px #333;

}

.working {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.working_title {
}

.working_card {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	margin-top: 5%;
}

.working_number {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto';
	font-size: 16px;
	background-color: #9356dc;
	color: white;
	border-radius: 30px;
	height: 25px;
	width: 25px;
	margin-right: -2%;
	z-index: 0;
}

.working_card_content {
	width: 95%;
	display: flex;
	align-items: center;
	background-color: #F6F6F6;
	border-radius: 15px;
	text-decoration: none;
	padding-bottom: 4%;
	padding-top: 4%;
	box-shadow: 0px 1px 5px #999;
	font-size: 20px;
}

.working_card_content:hover {
	background-color: #f5edff;
}

.working_card_content:hover .icon_working{
	color: #9356dc;
}

.icon_working {
	color: #7e7e7e;
	padding-left: 5%;
	padding-right: 5%;
}

.working_card_title {
	font-family: 'Roboto-bold';
	color: black;
}

.restaurant {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #F6F6F6;
	padding-top: 5%;
	padding-bottom: 5%;
}

.restaurant_title {
	width: 100%;
	text-align: center;
}

.restaurant_link {
	display: flex;
	flex-direction: column;
	position: relative;
	text-decoration: none;
}

.restaurant_card {
	border-radius: 15px;
	box-shadow: 0px 5px 20px #999;
	width: 40%;
	margin-top: 5%;
}

.img_restaurant {
	display: flex;
	justify-content: center;
	align-items: center;
}

.picture_restaurant {
	width: 100%;
	height: 150px;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
}

.new_restaurant {
	font-family: 'Roboto';
	background-color: #99e2d0;
	color: #028867;
	border-radius: 5px;
	padding: 2%;
	z-index: 0;
	position: absolute;
	left: 70%;
	top: 5%;
}

.restaurant_content {
	position: relative;
	padding: 4%;
}

.restaurant_name {
	font-family: 'Roboto-bold';
	font-size: 16px;
	color: black;
}

.restaurant_definition {
	font-family: 'Roboto';
	font-size: 16px;
	color: #5b5b5b;
}

.heart{
	position: absolute;
	left: 85%;
	top: 30%;
}

.heart:hover .icon_heart_color{
	transform: scale(1);
}

.heart:active .icon_heart_color{
	transform: scale(1);
}

.icon_heart {
	font-size: x-large;
	color: #5b5b5b;
	position: absolute;
}

.icon_heart_color {
	position: absolute;
	z-index: 1;
	font-size: x-large;
	background: linear-gradient(30deg, #FF79DA 20%, #9356DC);
	background-clip: text;
	-webkit-background-clip: text;
	color: rgba(0,0,0,.2);
	transform: scale(0);
	transition: transform 1000ms;
}

.footer_style {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3%;
}

.footer_title {
	font-family: 'Shrikhand';
	color: white;
	font-size: 18px;
	margin-bottom: 10%;
}

.footer_link {
	text-decoration: none;
	color: white;
	font-family: 'Roboto';
	font-size: 16px;
	margin-bottom: 5%;
}